body {
    padding: 0;
    margin: 0;
}

.row-1 {
    padding: 0;
    margin: 0;
}

/* Section 1 */

.sec-1 .navbar-brand img {
    max-height: 70px;
}

.sec-1 .header-text {
    display: flex;
    font-size: 15px;
    padding: 0;
    justify-content: flex-end;
    border-bottom: 1px solid #d6d6d6;
}

.sec-1 .header-text a {
    text-decoration: none;
    padding: 5px 10px;
    color: #535353;
    font-weight: 400;
}

.sec-1 p {
    margin: 0;
}

.sec-1 .nav-item {
    font-weight: 700;
    color: #000;
}

.sec-1 .navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ff0037;
}

.sec-1 .dropdown {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    border-radius: 4px;
    margin-top: 25px;
    z-index: 1;
}

.sec-1 .dropdown a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.sec-1 .dropdown a:hover {
    color: #ff0037;
}

.sec-1 .dropdown p {
    font-size: 12px;
    color: #a5a5a5;
}

.sec-1 .dropdown .dropdown-txt {
    display: block;
    padding: 20px 20px 0px 10px;
    font-weight: 400;
}

.sec-1 .dropdown h1 {
    color: #a5a5a5;
    font-size: 20px;
    padding-left: 15px;
}

.sec-1 li:hover .dropdown {
    display: block;
}

.sec-1 .number {
    text-decoration: none;
    font-weight: 700;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 1.5rem;
    }
}

@media (max-width: 767px) {
    .sec-1 .header-text {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .sec-1 .navbar-brand {
        order: -1;
    }
}

/* Section 2 */

.sec-2 {
    padding: 85px 20px 25px;
    background-image: url("./Door-to-Door-images/door-to-door-shipping.webp");
    background-repeat: round;
}

.sec-2 .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.sec-2 .bg-section {
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    color: white;
}

.sec-2 .column-1 h2 {
    font-weight: 700;
    font-size: 55px;
    color: #fff;
    margin-left: 80px;
}

.sec-2 .column-1 ul {
    margin-top: 20px;
    color: #fff;
}

.sec-2 .form-section {
    text-align: center;
    background-color: #f5f3f3;
    border-radius: 20px;
    width: 35%;
    margin: 30px 0px 95px 195px;
    padding-bottom: 10px;
}

.sec-2 .form-section input[type="text"] {
    padding: 8px;
    width: 80%;
    margin-bottom: 25px;
    border: 0.1px solid #ccc;
    border-radius: 2px;
}

.sec-2 .form-section button {
    width: 80%;
    padding: 10px;
    background-color: rgb(153, 153, 153);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: not-allowed;
    margin-top: 15px;
}

.sec-2 .select {
    /* justify-content: center; */
    margin: 0 70px;
    text-align: center;
}

.sec-2 .select h4 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 2px;
    color: rgb(131, 131, 131);
}

.sec-2 .opened {
    margin: 0 20px;
    color: rgb(131, 131, 131);
}

.sec-2 .closed {
    color: rgb(131, 131, 131);
}

.sec-2 li {
    font-size: 17px;
}

.sec-2 .form-section h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
}

.sec-2 li::marker {
    color: #ca0538;
    font-size: 25px;
}

@media (max-width: 992px) {
    .sec-2 .bg-section {
        padding: 40px 15px;
    }
}

@media (max-width: 768px) {
    .sec-2 .bg-section {
        padding: 30px 10px;
    }
}

@media (max-width: 576px) {
    .sec-2 .bg-section {
        padding: 20px 5px;
    }
}

/* Section 3 */

.sec-3 {
    background: linear-gradient(to right, #002762, #0e1a30, #012762);
    padding: 50px 230px;
    color: #fff;
}

.sec-3 p {
    text-align: center;
    font-size: 20px;
}

/* Section 4 */

.sec-4 {
    padding: 50px 80px 40px;
    background-color: #F4F6FA;
}

.sec-4 .row .col-7 h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sec-4 .row .col-7 p {
    font-size: 18px;
}

.sec-4 .row .col-5 img {
    width: 90%;
    margin: 40px 20px;
}

/* Section 5 */

.sec-5 {
    padding: 40px 100px 50px;
    background: linear-gradient(to right, #002762, #0e1a30, #012762);
}

.sec-5 .row-1 h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}

.sec-5 .row-2 {
    margin-top: 50px;
}

.sec-5 .row-2 .cont-1 {
    width: 49%;
    background-color: #fff;
    padding: 20px 20px 5px;
    border-radius: 10px;
}

.sec-5 .row-2 .cont-1 .col-10 {
    width: 70%;
    color: #000;
}

.sec-5 .row-2 .cont-1 .col-10 h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sec-5 .row-2 .cont-1 .col-10 p {
    font-size: 17px;
}

.sec-5 .row-2 .cont-1 .col-2 img {
    width: 160px;
    margin-top: 50px;
    margin-left: 15px;
}

.sec-5 .row-2 .cont-2 {
    width: 49%;
    background-color: #fff;
    padding: 20px 20px 5px;
    border-radius: 10px;
    margin-left: 25px;
}

.sec-5 .row-2 .cont-2 .col-10 {
    width: 70%;
    color: #000;
}

.sec-5 .row-2 .cont-2 .col-10 h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sec-5 .row-2 .cont-2 .col-10 p {
    font-size: 17px;
}

.sec-5 .row-2 .cont-2 .col-2 img {
    width: 160px;
    margin-top: 50px;
    margin-left: 15px;
}

.sec-5 .row-3 {
    margin-top: 20px;
}

.sec-5 .row-3 .cont-3 {
    width: 49%;
    background-color: #fff;
    padding: 20px 20px 5px;
    border-radius: 10px;
}

.sec-5 .row-3 .cont-3 .col-10 {
    width: 70%;
    color: #000;
}

.sec-5 .row-3 .cont-3 .col-10 h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sec-5 .row-3 .cont-3 .col-10 p {
    font-size: 17px;
}

.sec-5 .row-3 .cont-3 .col-2 img {
    width: 160px;
    margin-top: 50px;
    margin-left: 15px;
}

.sec-5 .row-3 .cont-4 {
    width: 49%;
    background-color: #fff;
    padding: 20px 20px 5px;
    border-radius: 10px;
    margin-left: 25px;
}

.sec-5 .row-3 .cont-4 .col-10 {
    width: 70%;
    color: #000;
}

.sec-5 .row-3 .cont-4 .col-10 h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sec-5 .row-3 .cont-4 .col-10 p {
    font-size: 17px;
}

.sec-5 .row-3 .cont-4 .col-2 img {
    width: 160px;
    margin-top: 50px;
    margin-left: 15px;
}

/* Section 6 */

.sec-6 {
    padding: 60px 80px;
    background-color: #F4F6FA;
}

.sec-6 .row-1 .col-7 {
    text-align: center;
    color: #000;
    margin-top: 50px;
}

.sec-6 .row-1 .col-7 h2 {
    font-size: 25px;
}

.sec-6 .row-1 .col-7 p {
    font-size: 18px;
}

.sec-6 .row-2 {
    padding-top: 100px;
}

.sec-6 .row-2 .col-5 img {
    width: 100%;
}

.sec-6 .row-2 .col-7 {
    text-align: center;
    color: #000;
    margin-top: 110px;
}

.sec-6 .row-2 .col-7 h2 {
    font-size: 25px;
}

.sec-6 .row-2 .col-7 p {
    font-size: 18px;
}

/* Section 7 */

.sec-7 {
    background-image: url(./Door-to-Door-images/review-bg.webp);
    background-repeat: round;
    padding: 40px 0;
}

.sec-7 h2 {
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #000000;
}

.sec-7 p {
    text-align: center;
}

.sec-7 .testimonial-slider {
    position: relative;
    overflow: hidden;
}

.sec-7 .testimonial-slider p {
    text-align: left;
}

.sec-7 .stars-wrapper {
    margin-left: 0;
    margin-right: 8px;
    display: flex;
    color: #ca0538;
}

.sec-7 .testimonial-content h2 {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.sec-7 .stars-wrapper h5 {
    color: #000;
    font-size: 12px;
    margin-left: 20px;
}

.sec-7 .swiper-container {
    width: 100%;
    padding: 20px 0;
}

.sec-7 .swiper-slide {
    border: 0px solid #00aff0;
    border-radius: 10px;
    padding: 15px 15px 0;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 330px;
    height: 180px;
    align-content: stretch;
}

.sec-7 .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 25%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,
            initial);
    box-sizing: content-box;
}

.sec-7 .swiper-slide h3 {
    font-size: 15px;
    color: #000000;
    margin-top: 15px;
    font-family: "Aileron", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
}

.sec-7 .swiper-slide p {
    font-size: 13px;
    color: #000000;
    font-family: "Aileron", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
}

.sec-7 .swiper-slide .d-flex h4 {
    font-size: 15px;
    padding-top: 10px;
    font-weight: 400;
}

.sec-7 .swiper-slide .d-flex img {
    width: 25%;
    margin-left: 84px;
}

.sec-7 .bot-txt {
    margin-top: 30px;
}

.sec-7 .bot-txt h6 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.sec-7 .bot-txt h6 a {
    text-decoration: none;
    color: white;
}

.sec-7 .bot-txt h6 a:hover {
    color: #a9ff00;
    text-decoration: underline;
}

/* Section 8 */

.sec-8 {
    background: linear-gradient(to right, #002762, #0e1a30, #012762);
    padding: 30px 0;
}

.sec-8 .col-6 h2 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
}

.sec-8 .toggle-section {
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
}

.sec-8 .question {
    cursor: pointer;
    padding: 10px 25px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-8 .question:hover {
    color: #ca0538;
    transition-duration: 0.2s;
}

.sec-8 .question .arrow {
    transition: transform 1s ease-out;
    display: inline-block;
    background-color: #e0043f;
    color: #ffffff;
    padding: 15px 18px;
    border-radius: 60px;
}

.sec-8 .answer {
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-out;
    padding: 0 25px;
    background-color: #f9f9f9;
}

.sec-8 .active .answer {
    max-height: 400px;
    /* Adjust this value based on the answer content length */
    padding: 0 25px;
}

.sec-8 .active .question .arrow {
    transform: rotate(90deg);
}

.sec-8 .col-6 .ready {
    width: 70%;
    padding: 40px;
    color: #fff;
    text-align: center;
    background-color: #344054;
    border-radius: 10px;
    margin: 50px 0 0 120px;
}

.sec-8 .col-6 .ready p {
    width: 70%;
    margin-left: 85px;
}

.sec-8 .col-6 .ready .quote {
    border: 2px solid #ea0a0b;
    background-color: #ca0538;
    padding: 15px 48px 15px 48px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    background: linear-gradient(to right, #344054 50%, #ca0538 50%);
    background-size: 200% 100%;
    background-position: right center;
    transition: 0.8s ease;
    color: #fff;
}

.sec-8 .col-6 .ready .quote:hover {
    background-position: left center;
    color: #ca0538;
}

/* Section 9 */

.sec-9 {
    text-align: center;
    padding: 40px 30px;
    background-color: #F4F6FA;
}

.sec-9 .row h2 {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sec-9 .row p {
    font-size: 20px;
}

.sec-9 .row button {
    border: 2px solid #ea0a0b;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    background: linear-gradient(to right, #ffffff 50%, #ca0538 50%);
    background-size: 200% 100%;
    background-position: right center;
    transition: 0.8s ease;
    color: #fff;
    width: 10%;
    margin-left: 45%;
    margin-top: 20px;
}

.sec-9 .row button:hover {
    background-position: left center;
    color: #ca0538;
}

/* Section 10 */

.sec-10 {
    border-top: 1px solid #dddddd;
    padding-top: 30px;
}

.sec-10 .wrapper {
    display: flex;
    justify-content: space-evenly;
}

.sec-10 .logo img {
    width: 120px;
}

.sec-10 h3 {
    text-decoration: none;
    color: #818181;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 0px;
    cursor: pointer;
    margin: 0;
}

.sec-10 h3:hover {
    color: #ca0538;
}

.sec-10 .contact-wrapper {
    display: flex;
    margin: 20px 0;
}

.sec-10 .contact-wrapper h2 {
    color: #818181;
    font-size: 18px;
    margin: 0 0 0 10px;
    font-weight: 400;
}

.sec-10 .quick-link h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sec-10 .contact-us h2 {
    font-size: 20px;
}

.sec-10 .info h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sec-10 .contact-wrapper {
    display: flex;
}

/* Section 11 */

.sec-11 {
    border-top: 1px solid #dddddd;
    padding: 10px 60px;
}

.sec-11 .wrapper {
    display: flex;
    justify-content: space-between;
}

.sec-11 .wrapper .txt {
    height: auto;
}

.sec-11 .wrapper .txt h2 {
    font-size: 20px;
    font-weight: 300;
    color: #000;
}

.sec-11 .wrapper .image {
    width: 11%;
    height: 10%;
}

.sec-11 .wrapper img {
    width: 15%;
    margin-right: 10px;
    background-color: #000000;
}

/* ScrollBar */

/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f4f6fa;
    /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #022768, #c20730);
    /* Gradient for the scrollbar thumb */
    border-radius: 6px;
    /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #c20730, #022768);
    /* Darker gradient on hover */
}